* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Heebo", sans-serif;
}

main::-webkit-scrollbar {
	width: 0.7rem;
}

main::-webkit-scrollbar-thumb {
	background-color: #d55534;
}

main::-webkit-scrollbar-track {
	background-color: #383838;
}

main {
	background-color: #242424;
}

.main-container-toggle {
	background-color: rgb(226, 226, 226);
}

.nav-container-toggle {
	background-color: rgb(241, 241, 241);
}

nav {
	background-color: #383838;
	min-height: 100vh;
	width: 6rem;
	position: fixed;
	transition: 200ms ease;
	left: 0;
}

nav ul {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: absolute;
}

ul li {
	list-style: none;
	display: flex;
	align-items: center;
	height: 5rem;
	margin: 1rem 0rem;
	cursor: pointer;
}

svg {
	height: 50px;
	width: 50px;
	padding-left: 1rem;
}

nav:hover a {
	display: block;
}

nav:hover {
	width: 22rem;
}

nav:hover .first-li {
	width: 22rem;
}

.first-li svg {
	transform: rotate(0deg);
	transition: 200ms ease;
}

nav:hover .first-li svg {
	transform: rotate(540deg);
}

a {
	font-family: "Heebo", sans-serif;

	text-decoration: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	display: none;
	transition: 200ms;
	padding: 1rem 6rem;
	color: rgb(124, 124, 124);
	cursor: pointer;
}

main {
	margin-left: 6rem;
	overflow-y: scroll;
	height: 100vh;
	scroll-behavior: smooth;
}

.dice,
.song,
.ghost,
.game {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	background-color: transparent;
}

main h2 {
	text-transform: uppercase;
	font-size: 6.4rem;
	padding: 1rem 0rem;
	color: #d55534;
	padding: 0rem 2rem;
}

main p {
	line-height: 3rem;
	padding: 0rem 2rem;
}

ul li:last-child {
	margin-top: auto;
}

.first-li {
	height: 10rem;
	background-color: rgb(29, 29, 29);
	width: 6rem;
	transition: 200ms ease;
	pointer-events: none;
}

.first-li a {
	font-size: 3.2rem;
	font-weight: 800;

	padding: 1rem 0.5rem;
}

.second-li:hover a {
	color: #b8b8b8;
}
.second-li:hover svg path {
	fill: #b8b8b8;
}
.third-li:hover a {
	color: #366199;
}
.third-li:hover svg path {
	fill: #366199;
}
.fourth-li:hover a {
	color: #af3a3a;
}
.fourth-li:hover svg path {
	fill: #af3a3a;
}
.fifth-li:hover a {
	color: #942979;
}
.fifth-li:hover svg path {
	fill: #942979;
}

ul li:hover {
	background-color: #242424;
}

.dice h2 {
	color: #b8b8b8;
}

.song h2 {
	color: #366199;
}
.ghost h2 {
	color: #af3a3a;
}
.game h2 {
	color: #942979;
}

.first-toggle {
	background-color: rgb(185, 184, 184);
}
@media only screen and (max-width: 768px) {
	.first-li {
		display: none;
	}

	ul li {
		margin: auto;
	}

	svg path:focus {
		background-color: red;
	}

	nav:hover a {
		display: none;
	}

	nav:hover {
		width: 6rem;
	}
	ul li:hover {
		background-color: transparent;
	}
}
